.container 
    .contacts__wrapper 
        .contacts__photo: img(src="img/Photo.jpg", alt="Photo me")
        .contacts__informations 
            h2.title.title_fz16.contacts__subtitle Контакты
            .title.contacts__title Свяжитесь со мной
            p.contacts__text Любым удобным для вас способом:
            .contacts__ref-icons
                a(href="#"): +svg('Facebook') 
                a(href="#"): +svg('Telegram') 
                a(href="#"): +svg('Instagram') 
            p.contacts__text Или оставьте ваши данные и я сама вам напишу:
            form(name="contacts").contacts__form
                .input
                    input(required type="text" name="name" id="name").input-text
                    label(for="name").label-text Ваше имя
                .input
                    input(required type="text" name="email" id="email").input-text
                    label(for="email").label-text Ваша почта
                .textarea
                    textarea(name="textarea" id="textarea")
                    label(for="textarea").label-text Ваше сообщение
                .wrapper-send
                    button.btn.contacts__btn Отправить сообщение
                    .wrapper-checkbox
                        input(required type="checkbox" name="privaci" id="privaci").input-checkbox
                        label(for="privaci").label-checkbox Я согласен(а) с 
                            a(href="privaci.html").police политикой конфидициальности