.hamburger 
    span.hamburger__line 
    span.hamburger__line.hamburger__line_long 
    span.hamburger__line
.menu 
    .menu__block 
        .menu__close: +svg("Close")
        nav: ul.menu__list
            li.menu__list-item: a(href="#") ПРО МЕНЯ
            li.menu__list-item: a(href="#") МОЙ ОПЫТ
            li.menu__list-item: a(href="#") МОИ НАВЫКИ
            li.menu__list-item: a(href="#") МОИ РАБОТЫ
            li.menu__list-item: a(href="#") ПРАЙС-ЛИСТ
            li.menu__list-item: a(href="#") КОНТАКТЫ
        .menu__social 
            a(href="#"): +svg("Github") 
            a(href="#"): +svg("Instagram")
            a(href="#"): +svg("Facebook") 
    .menu__overlay