.container

    h2.title.title_fz16.title__section-title Портфолио

    .title.title__section-subtitle Мои работы

    .portfolio__wrapper 
        .portfolio__item
            a(href="#"): img(src="img/uber.jpg", alt="uber")
        .portfolio__item
            a(href="#"): img(src="img/pulse.jpg", alt="pulse")
        .portfolio__item
            a(href="#"): img(src="img/bread.jpg", alt="bread")
        .portfolio__item.portfolio__item-vertical
            a(href="#"): img(src="img/plans.jpg", alt="plans")
        .portfolio__item
            a(href="#"): img(src="img/ipad.jpg", alt="ipad")
        .portfolio__item.portfolio__item-horizontal
            a(href="#"): img(src="img/mac.jpg", alt="mac")  