.container 
    h2.title.title_fz16.title__section-title Прайс-лист

    .title.title__section-subtitle

    .price__wrapper 
        .price__item 
            .title.title_fz14.price__item-title Landing-page
            .title.title_fz14.price__item-price от 8000 руб.
            .title.title_fz12.price__item-text Одностраничный сайт для презентации услуг/товаров/...
        .price__item 
            .title.title_fz14.price__item-title Корпоративный сайт
            .title.title_fz14.price__item-price от 20000 руб.
            .title.title_fz12.price__item-text Сайт для вашего бизнеса или компании
        .price__item 
            .title.title_fz14.price__item-title Интернет-магазин
            .title.title_fz14.price__item-price от 30000 руб.
            .title.title_fz12.price__item-text Инструмент для ваших продаж в сети
        .price__item 
            .title.title_fz14.price__item-title Web-приложение
            .title.title_fz14.price__item-price от 28000 руб.
            .title.title_fz12.price__item-text Приложение внутри браузера для лучшего комфорта
        .price__item 
            .title.title_fz14.price__item-title Android/IOS Приложение
            .title.title_fz14.price__item-price от 25000 руб.
            .title.title_fz12.price__item-text Приложение для смартфона любой ОС
        .price__item 
            .title.title_fz14.price__item-title Дизайн
            .title.title_fz14.price__item-price Индивидуально
            .title.title_fz12.price__item-text Создам дизайн для вашего сайта/приложения...
