.container 

    h2.title.title_fz16.title__section-title Опыт

    .title.title__section-subtitle.resume__title Чем я буду полезна

    .resume__wrapper    
        .resume__column 
            h3.title.title_fz20.resume__column-title Образование
            ul 
                li 
                    .resume__item 
                        .resume__item-head 
                            .resume__item-icon: +svg('University') 
                            h4.title.title_fz14 МГТУ им. Н. Э. Баумана
                            .title.title_fz12.resume__item-subtitle Диплом магистра | Москва (2014-2020)
                        .title.title_fz12.resume__item-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.    
                li 
                    .resume__item 
                        .resume__item-head 
                            .resume__item-icon: +svg('Courses') 
                            h4.title.title_fz14 Udemy
                            .title.title_fz12.resume__item-subtitle Курсы по Web-разработке
                        .title.title_fz12.resume__item-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.           
        .resume__column 
            h3.title.title_fz20.resume__column-title Опыт работы
            ul 
                li 
                    .resume__item 
                        .resume__item-head 
                            .resume__item-icon: +svg('Developer') 
                            h4.title.title_fz14 Front-End Developer
                            .title.title_fz12.resume__item-subtitle EPAM | Москва (2018-2019)
                        .title.title_fz12.resume__item-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. 
                li 
                    .resume__item 
                        .resume__item-head 
                            .resume__item-icon: +svg('Designer') 
                            h4.title.title_fz14 UI/UX Designer
                            .title.title_fz12.resume__item-subtitle Squad Team | Москва (2018)
                        .title.title_fz12.resume__item-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. 
