aside.sidePanel
    .sidePanel__text Социальные сети
    .sidePanel__devider 
    a.sidePanel__link(href="#")
        +svg("Github")
    a.sidePanel__link(href="#")
        +svg("Instagram")
    a.sidePanel__link(href="#")
        +svg("Facebook")
    