.container 

    h2.title.title_fz16.skills__title Навыки

    .title.skills__subtitle Что я использую в работе

    .skills__items 
        .skills__item 
            .skills__item-icon: img(src="img/html5.png", alt="html5")
            .title.title_fz14.skills__item-title HTML5
            .skills__item-text Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта
        .skills__item 
            .skills__item-icon: img(src="img/css3.png", alt="css3")
            .title.title_fz14.skills__item-title CSS3
            .skills__item-text Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!
        .skills__item 
            .skills__item-icon: img(src="img/JS.png", alt="JS")
            .title.title_fz14.skills__item-title Java Script
            .skills__item-text Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое
        .skills__item 
            .skills__item-icon: img(src="img/Jquery.png", alt="Jquery")
            .title.title_fz14.skills__item-title Jquery
            .skills__item-text Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует
        .skills__item 
            .skills__item-icon: img(src="img/React.png", alt="React")
            .title.title_fz14.skills__item-title React
            .skills__item-text Эта библиотека позволяет создавать web-приложения. Мы можем создать максимально интерактивный продукт именно под ваши цели
        .skills__item 
            .skills__item-icon: img(src="img/Nodejs.png", alt="Node.js")
            .title.title_fz14.skills__item-title Node.js
            .skills__item-text Эта платформа позволяет создавать бэкенд для вашего продукта - “мозги”, которые будут выполнять действия, которые пользователь не видит
        .skills__item 
            .skills__item-icon: img(src="img/Mongodb.png", alt="Mongo.db")
            .title.title_fz14.skills__item-title Mongo.db
            .skills__item-text Это нереляционная база данных, которая будет хранить данные вашего сайта или приложения

    .skills__wrapper-ratio 
        .ratio 
            .ratio__head
                .title.title_fz14.ratio__head-title Создание сайтов
                .ratio__head-progress 1%
            .ratio__progressbar
                .ratio__progressbar.ratio__progressbar-progress(data-progress = 100)
        .ratio 
            .ratio__head
                .title.title_fz14.ratio__head-title Создание приложений
                .ratio__head-progress 2%
            .ratio__progressbar
                .ratio__progressbar.ratio__progressbar-progress(data-progress = 85)
        .ratio
            .ratio__head
                .title.title_fz14.ratio__head-title Работа с данными
                .ratio__head-progress 3%
            .ratio__progressbar
                .ratio__progressbar.ratio__progressbar-progress(data-progress = 90)
        .ratio
            .ratio__head
                .title.title_fz14.ratio__head-title Креативность
                .ratio__head-progress 4%
            .ratio__progressbar
                .ratio__progressbar.ratio__progressbar-progress(data-progress = 75)
        .ratio
            .ratio__head
                .title.title_fz14.ratio__head-title Создание дизайна
                .ratio__head-progress 5%
            .ratio__progressbar
                .ratio__progressbar.ratio__progressbar-progress(data-progress = 90)
        .ratio
            .ratio__head
                .title.title_fz14.ratio__head-title Soft skills
                .ratio__head-progress 6%
            .ratio__progressbar
                .ratio__progressbar.ratio__progressbar-progress(data-progress = 95)