extends layout/homepage

block content
    include mixins/svg
    include includes/index/sidePanel
    include includes/index/menu
    section.promo 
        include includes/index/promo
    section.aboutme 
        include includes/index/aboutme
    section.resume
        include includes/index/resume 
    section.skills 
        include includes/index/skills
    section.portfolio
        include includes/index/portfolio
    section.price 
        include includes/index/price
    section.contacts 
        include includes/index/contacts