.privaci {
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 250px;
    margin-bottom: 80px;

    p, ul {
        margin-top: 10px;
        margin-left: 40px;
    }

    li {
        margin-top: 15px;
        line-height: 20px;
    }

    .title {
        margin-top: 40px;
    }
}
