.skills {
    padding-top: 120px;

    &__title {
        position: relative;
        z-index: 0;
        margin-top: 6px;
        text-align: center;

        @include before_circle;

        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        position: relative;
        margin-top: 10px;
        text-align: center;

        @include before_line;

        &::before {
            left: 50%;
            transform: translateX(-50%);
            margin-top: 25px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
        padding-top: 85px;
        width: 1119px;
        margin: 0 auto;
    }

    &__item {
        width: 270px;
        height: 270px;
        border: 1px solid #000;
        padding: 30px;

        &-icon {
            display: flex;
            align-items: center;
            height: 65px;
        }

        &-title {
            padding-top: 20px;
        }

        &-text {
            padding-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
